In [20]:
import pandas as pd
import pickle
from string import ascii_uppercase as alphabet

In [21]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [22]:
print(all_tables[11])

  Pos          Team
0  C1     Argentina
1  C2  Saudi Arabia
2  C3        Mexico
3  C4        Poland

In [23]:
print(all_tables[18])

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1  Netherlands    3  2  1  0   5   1  +4    7  Advanced to knockout stage
1    2      Senegal    3  2  0  1   5   4  +1    6  Advanced to knockout stage
2    3      Ecuador    3  1  1  1   4   3  +1    4                         NaN
3    4    Qatar (H)    3  0  0  3   1   7  −6    0                         NaN

In [24]:
print(all_tables[25])

   Pos        Teamvte  Pld  W  D  L  GF  GA  GD  Pts  \
0    1        England    3  2  1  0   9   2  +7    7
1    2  United States    3  1  2  0   2   1  +1    5
2    3           Iran    3  1  0  2   4   7  −3    3
3    4          Wales    3  0  1  2   1   6  −5    1

                Qualification
0  Advanced to knockout stage
1  Advanced to knockout stage
2                         NaN
3                         NaN

In [25]:
for i in range(11,18):
  print(all_tables[i])
  print("\n")

  Pos          Team
0  C1     Argentina
1  C2  Saudi Arabia
2  C3        Mexico
3  C4        Poland


  Pos       Team
0  D1     France
1  D2  Australia
2  D3    Denmark
3  D4    Tunisia


  Pos        Team
0  E1       Spain
1  E2  Costa Rica
2  E3     Germany
3  E4       Japan


  Pos     Team
0  F1  Belgium
1  F2   Canada
2  F3  Morocco
3  F4  Croatia


  Pos         Team
0  G1       Brazil
1  G2       Serbia
2  G3  Switzerland
3  G4     Cameroon


  Pos         Team
0  H1     Portugal
1  H2        Ghana
2  H3      Uruguay
3  H4  South Korea


                Tie-breaking criteria for group play
0  The ranking of teams in the group stage was de...

In [30]:
for i in range(19,31):
  print(all_tables[i])
  print("\n")

   Qatar     0–2                   Ecuador
0    NaN  Report  Valencia 16' (pen.), 31'


   Senegal     0–2               Netherlands
0      NaN  Report  Gakpo 84' Klaassen 90+9'


         Qatar     1–3                            Senegal
0  Muntari 78'  Report  Dia 41' Diédhiou 48' B. Dieng 84'


  Netherlands     1–1       Ecuador
0    Gakpo 6'  Report  Valencia 49'


       Ecuador     1–2                           Senegal
0  Caicedo 67'  Report  I. Sarr 44' (pen.) Koulibaly 70'


                Netherlands     2–0  Qatar
0  Gakpo 26' F. de Jong 49'  Report    NaN


   Pos        Teamvte  Pld  W  D  L  GF  GA  GD  Pts  \
0    1        England    3  2  1  0   9   2  +7    7
1    2  United States    3  1  2  0   2   1  +1    5
2    3           Iran    3  1  0  2   4   7  −3    3
3    4          Wales    3  0  1  2   1   6  −5    1

                Qualification
0  Advanced to knockout stage
1  Advanced to knockout stage
2                         NaN
3                         NaN


                                             England     6–2  \
0  Bellingham 35' Saka 43', 62' Sterling 45+1' Ra...  Report

                        Iran
0  Taremi 65', 90+13' (pen.)


  United States     1–1            Wales
0      Weah 36'  Report  Bale 82' (pen.)


   Wales     0–2                           Iran
0    NaN  Report  Cheshmi 90+8' Rezaeian 90+11'


   England     0–0  United States
0      NaN  Report            NaN


   Wales     0–3                      England
0    NaN  Report  Rashford 50', 68' Foden 51'

In [36]:
for i in range(32,45):
  print(all_tables[i])
  print(i)
  print("\n")

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts  \
0    1     Argentina    3  2  0  1   5   2  +3    6
1    2        Poland    3  1  1  1   2   2   0    4
2    3        Mexico    3  1  1  1   2   3  −1    4
3    4  Saudi Arabia    3  1  0  2   3   5  −2    3

                Qualification
0  Advanced to knockout stage
1  Advanced to knockout stage
2                         NaN
3                         NaN
32


          Argentina     1–2                     Saudi Arabia
0  Messi 10' (pen.)  Report  Al-Shehri 48' S. Al-Dawsari 53'
33


   Mexico     0–0  Poland
0     NaN  Report     NaN
34


                          Poland     2–0  Saudi Arabia
0  Zieliński 39' Lewandowski 82'  Report           NaN
35


                 Argentina     2–0  Mexico
0  Messi 64' Fernández 87'  Report     NaN
36


   Poland     0–2                     Argentina
0     NaN  Report  Mac Allister 46' Álvarez 67'
37


          Saudi Arabia     1–2                 Mexico
0  S. Al-Dawsari 90+5'  Report  Martín 47' Chávez 52'
38


   Pos    Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     France    3  2  0  1   6   3  +3    6  Advanced to knockout stage
1    2  Australia    3  2  0  1   3   4  −1    6  Advanced to knockout stage
2    3    Tunisia    3  1  1  1   1   1   0    4                         NaN
3    4    Denmark    3  0  1  2   1   3  −2    1                         NaN
39


   Denmark     0–0  Tunisia
0      NaN  Report      NaN
40


                                  France     4–1   Australia
0  Rabiot 27' Giroud 32', 71' Mbappé 68'  Report  Goodwin 9'
41


   Tunisia     0–1 Australia
0      NaN  Report  Duke 23'
42


            France     2–1             Denmark
0  Mbappé 61', 86'  Report  A. Christensen 68'
43


    Australia     1–0  Denmark
0  Leckie 60'  Report      NaN
44

In [39]:
for i in range(39,46):
  print(all_tables[i])
  print(i)
  print("\n")

   Pos    Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     France    3  2  0  1   6   3  +3    6  Advanced to knockout stage
1    2  Australia    3  2  0  1   3   4  −1    6  Advanced to knockout stage
2    3    Tunisia    3  1  1  1   1   1   0    4                         NaN
3    4    Denmark    3  0  1  2   1   3  −2    1                         NaN
39


   Denmark     0–0  Tunisia
0      NaN  Report      NaN
40


                                  France     4–1   Australia
0  Rabiot 27' Giroud 32', 71' Mbappé 68'  Report  Goodwin 9'
41


   Tunisia     0–1 Australia
0      NaN  Report  Duke 23'
42


            France     2–1             Denmark
0  Mbappé 61', 86'  Report  A. Christensen 68'
43


    Australia     1–0  Denmark
0  Leckie 60'  Report      NaN
44


      Tunisia     1–0  France
0  Khazri 58'  Report     NaN
45